.searchbar {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid $gray-300;
  border-radius: 6px;
  background: $white url('/assets/icons/search.svg') no-repeat;
  background-position: bottom 50% right 12px;
  background-size: 24px;
  outline: none;

  &:focus {
    border: 1px solid $blue-500;
    background: $white url('/assets/icons/close.svg') no-repeat;
    background-position: bottom 50% right 12px;
    background-size: 20px;
  }
}
